.input {
  border: 1px solid green;
  outline: none;
  background-color: rgba(0, 128, 0, .2);
}

.error {
  border: 1px solid tomato;
  outline: none;
  background-color: rgba(255, 0, 0, .2);
}

.btn {
  display: inline-block;
  margin: 0 10px;
}
